<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.memory.bulut.trustyourmemory">



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name="trust.memory.bulut.trustyourmemory.Giris">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="trust.memory.bulut.trustyourmemory.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="trust.memory.bulut.trustyourmemory.Kolay" />
        <activity android:name="trust.memory.bulut.trustyourmemory.Orta" />
        <activity android:name="trust.memory.bulut.trustyourmemory.Zor" />
        <activity android:name="trust.memory.bulut.trustyourmemory.GameOver" />
        <activity android:name="trust.memory.bulut.trustyourmemory.Basla" />
        <activity android:name="trust.memory.bulut.trustyourmemory.NasilOynanir" />
    </application>

</manifest>